version: 2
jobs:
  link-api:
    working_directory: ~/link_platform/link-api
    docker:
      - image: circleci/ruby:2.5.1-node-browsers
        environment:
          RAILS_ENV: test
          # https://discuss.circleci.com/t/rails-app-cant-connect-to-postgres-server/13059
          PGHOST: 127.0.0.1
          PGUSER: root
      - image: circleci/postgres:10.3
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: link-api_test
    steps:
      - checkout:
          path: ~/link_platform
      - restore_cache:
          keys:
          - v1-ruby-dependencies-{{ checksum "Gemfile.lock" }}
          # fallback to using the latest cache if no exact match is found
          - v1-ruby-dependencies-
      - run:
          name: install dependencies
          command: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-ruby-dependencies-{{ checksum "Gemfile.lock" }}
      - run: cp .env.example .env
      - run: bundle exec rake db:create db:schema:load
      - run:
          name: run unit tests
          command: bundle exec rspec

  # link-admin:
  #   working_directory: ~/link_platform/link-admin
  #   docker:
  #     - image: circleci/node:8-stretch-browsers
  #   steps:
  #     - checkout:
  #         path: ~/link_platform
  #     - restore_cache:
  #         keys:
  #         - v1-js-admin-dependencies-{{ checksum "package-lock.json" }}
  #         # fallback to using the latest cache if no exact match is found
  #         - v1-js-admin-dependencies-
  #     - run:
  #         name: install dependencies
  #         command: npm install
  #     - save_cache:
  #         paths:
  #           - ./node_modules
  #         key: v1-js-dependencies-{{ checksum "package-lock.json" }}
  #     - run:
  #         name: run javascript tests
  #         command: npm test

  # link-user:
  #   working_directory: ~/link_platform/link-user
  #   docker:
  #     - image: circleci/node:8-stretch-browsers
  #   steps:
  #     - checkout:
  #         - path: ~/link_platform
  #     - restore_cache:
  #         keys:
  #         - v1-js-user-dependencies-{{ checksum "package-lock.json" }}
  #         # fallback to using the latest cache if no exact match is found
  #         - v1-js-user-dependencies-
  #     - run:
  #         name: install dependencies
  #         command: npm install
  #     - save_cache:
  #         paths:
  #           - ./node_modules
  #         key: v1-js-dependencies-{{ checksum "package-lock.json" }}
  #     - run:
  #         name: run javascript tests
  #         command: npm test

workflows:
  version: 2
  test_suite:
    jobs:
      - link-api
      # - link-admin
      # - link-user
